.form_container {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;

  form {
    display: flex;
    flex-direction: column;

    button{
      width: 100px;
    }
    /deep/.mat-form-field-infix{
      width: 330px;
    }
    .mat-checkbox{
      margin-bottom: 15px;
    }
  }
}
