<div class="form_container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" required formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" required formControlName="password">
    </mat-form-field>

    <mat-checkbox type="checkbox" formControlName="isCompany">Sign up as a company</mat-checkbox>

    <button type="submit" mat-raised-button color="primary" [disabled]="!signupForm.valid">Sign Up</button>
  </form>
</div>
